html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    background: url('../assets/ice_age_@2X.png');
}

body {
    padding: 0 0 20px 0;
}

h1 {
    font-size: 57px;
    text-transform: uppercase;
    font-weight: 100;
    top: 41.5%;
    z-index: -1;
    margin: 0 auto;
    color: #fff;
}

a {
    text-decoration: none;
    color: #1ABB9C;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

a:hover {
    color: #E74C39;
}

.l-single-column {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.l-grid-3 {
    width: 450px;
    margin: 0 auto;
}

ul, li {
    padding: 0;
    list-style: none;
}

ul {
    padding-bottom: 20px;
}

.green {
    width: 450px;
    min-height: 75px;
    background: #1ABB9C;
}

.red {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin: 0 auto;
    width: 225px;
    padding: 10px;
    max-height: 75px;
    background: #E74C39;
}

.red:hover {
    background: #1ABB9C;
}

.hero {
    position: relative;
    padding-top: 25px;
}

.sponsors, .past-startups, .past-sponsors {
    display: inline-block;
    float: left;
    width: 300px;
}

.hidden {
    display: none;
}

.hero-text {
    font-size: 1.1em;
    text-align: right;
    text-transform: uppercase;
}

.triad {
    padding: 0 28px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.xmas-images {
    padding-bottom: 45px;
}

/* Responsive */

@media all and (max-width: 1072px) {
    .triad {
        padding: 0;
    }
}

@media all and (max-width: 960px) {
    .l-single-column {
        width: 100%;
    }

    .sponsors, .past-startups, .past-sponsors {
        display: block;
        float: none;
        margin: 10px auto;
    }
}

@media all and (max-width: 500px) {
    .hero, .green {
        width: 300px;
    }

    .past-sponsors {
        padding-bottom: 30px;
    }
}

@media all and (max-width: 320px) {
    .hero, .green {
        width: 270px;
    }
}
